h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 110px;
  font-weight: 500;
}

h1 > span {
  color: #6fa0bb;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

.spot-index {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.spot-detail {
  width: 280px;
  border-radius: 25px;
  padding: 20px;
}

.spot-detail img {
  width: 280px;
  border: 1px solid #cdcdcd;
  border-radius: 25px;
}

.spot-detail:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.spot-name {
  font-weight: bold;
}
